/* Include customized matcha css if there is any */
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: right;
}

a {
  display: block;
  width: 120px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: none;
  color: #9a9a9a;
  font-style: italic;
  border: 1px solid #9a9a9a;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border-radius: 5px;
}

a span{
  position: relative;
  z-index: 2;
}

a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0969da;
  transition: all .35s;
  border-radius: 5px;
}

a:hover{
  color: #fff;
}

a:hover:after{
  width: 100%;
}